body { 

    font-family: Arial, sans-serif; 

    display: flex; 

    justify-content: center; 

    align-items: center; 

    height: 100vh; 

    margin: 0; 

    background-color: #ffedd3be; 

} 

 

.profile-card { 

    background-color: rgb(209, 248, 255); 

    border-radius: 10px; 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    text-align: center; 

    padding: 20px; 

    width: 300px; 

} 

 

.profile-image { 

    border-radius: 50%; 

    width: 100px; 

    height: 100px; 

    object-fit: cover; 

    margin-bottom: 15px; 

} 

 

.profile-name { 

    font-size: 28px; 

    color: #333; 

    margin: 0; 

} 

 

.profile-bio { 

    font-size: 18px; 

    color: rgb(48, 47, 47); 

    margin-top: 10px; 

} 